* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", serif;
  font-size: 17px;
  color: #555555;
}
a {
  color: #0f65d3;
}
a:visited {
  color: #0f4b97;
}
html,
body {
  width: 100%;
  height: 100%;
}
.main {
  width: 900px;
  height: 768px;
  margin-left: auto;
  margin-right: auto;
}
.noscroll {
  overflow: hidden;
}
p {
  margin-top: 10px;
}
.index-main {
  display: -webkit-box;
  display: flex;
  color: #9b69d0;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.index-main .col {
  width: 33.33%;
  text-align: center;
  font-size: 30px;
}
.index-main .col a {
  text-decoration: none;
  color: #9b69d0;
}
.index-main .col .round {
  background-color: #9b69d0;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-radius: 100%;
  padding-top: 75px;
  box-sizing: border-box;
}
.index-main .col .round span {
  color: white;
  font-size: 30px;
}
.index-main .col .info {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.index-main .col .info .cover {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #9b69d0;
}
.index-main .col .info .cover img {
  margin-top: 2px;
  width: 246px;
  height: 246px;
  border-radius: 100%;
}
.index-main .lower {
  margin-top: 250px;
}
.header-menu {
  width: 100%;
  display: -webkit-box;
  display: flex;
  line-height: 102px;
  font-size: 20px;
  color: #3e78ff;
  background-color: white;
  text-transform: uppercase;
}
.header-menu.projects .home-btn {
  background-color: #ffcd20;
}
.header-menu .home-btn {
  width: 75px;
  height: 75px;
  display: block;
  border-radius: 100%;
  background-color: #3e78ff;
  margin-top: 15px;
  margin-right: 40px;
}
.header-menu a {
  text-decoration: none;
  color: #3e78ff;
  margin-right: 40px;
}
.section {
  padding-top: 56px;
  padding-bottom: 24px;
  border-bottom: 1px solid #3e78ff;
}
.section .header {
  font-size: 40px;
  margin-bottom: 24px;
}
.section .thumbs {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}
.section .thumbs .thumb {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  margin: 0 85px 85px 0;
}
.section .thumbs .thumb img {
  width: 140px;
  height: auto;
  border-radius: 100%;
}
.section .thumbs .mb0 {
  margin: 0 85px 0 0;
}
.section .block .header {
  font-size: 24pt;
}
.section .block .info {
  display: -webkit-box;
  display: flex;
}
.section .block .info .cover {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.section .block .info .cover img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
}
.section .block .info .links {
  margin-top: 30px;
  margin-left: 15px;
}
.section .block .info .comment {
  font-size: 15px;
  font-style: italic;
  margin-left: 15px;
  width: 735px;
}
.section .block .text {
  margin-top: 24px;
}
.section .block .subheader {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.section .block .translation {
  display: flex;
  justify-content: space-between;
}
.section .block .translation .in,
.section .block .translation .out {
  width: 45%;
}
.ds1 {
  border-bottom: 1px solid #3e78ff;
}
.ds1 .header {
  color: #3e78ff;
}
a.ds1 {
  color: #3e78ff;
  border: none;
}
.ds2 {
  border-bottom: 1px solid #5e85ea;
}
.ds2 .header {
  color: #5e85ea;
}
a.ds2 {
  color: #5e85ea;
  border: none;
}
.ds3 {
  border-bottom: 1px solid #1b51b1;
}
.ds3 .header {
  color: #1b51b1;
}
a.ds3 {
  color: #1b51b1;
  border: none;
}
.ds4 {
  border-bottom: 1px solid #06387d;
}
.ds4 .header {
  color: #06387d;
}
a.ds4 {
  color: #06387d;
  border: none;
}
.ps1 {
  border-bottom: 1px solid #ffcd20;
}
.ps1 .header {
  color: #ffcd20;
}
a.ps1 {
  color: #ffcd20;
}
.ps2 {
  border-bottom: 1px solid #e9a617;
}
.ps2 .header {
  color: #e9a617;
}
a.ps2 {
  color: #e9a617;
}
.ps3 {
  border-bottom: 1px solid #d58b12;
}
.ps3 .header {
  color: #d58b12;
}
a.ps3 {
  color: #d58b12;
}
.main.projects .section {
  border-bottom: 1px solid;
}
#overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.8);
  z-index: 1000;
  position: fixed;
  top: 0;
  overflow: auto;
}
#overlay .overflow-wrapper {
  min-width: 1030px;
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  text-align: center;
}
#overlay .overflow-wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#overlay .overflow-wrapper .wrapper {
  width: 1024px;
  min-height: 432px;
  max-height: 600px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
#overlay .overflow-wrapper .wrapper.big {
  height: 600px;
}
#overlay .overflow-wrapper .wrapper .inner {
  height: 100%;
  display: -webkit-box;
  display: flex;
}
#overlay .overflow-wrapper .wrapper .inner .content {
  text-align: left;
  width: 770px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
}
#overlay .overflow-wrapper .wrapper .inner .content img {
  max-width: 770px;
  max-height: 600px;
}
#overlay .overflow-wrapper .wrapper .inner .desc {
  width: 254px;
  text-align: left;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
}
#overlay .overflow-wrapper .wrapper .inner .desc .text {
  margin: 15px;
}
#overlay .overflow-wrapper .wrapper .inner .desc .thumbs {
  margin-bottom: 15px;
  margin-left: 15px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}
#overlay .overflow-wrapper .wrapper .inner .desc .thumbs .thumb {
  width: 70px;
  height: 70px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 100%;
  background-color: #3e78ff;
}
