* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.main {
  width: 1024px;
  height: 768px;
  margin-left: auto;
  margin-right: auto;
}
.noscroll {
  overflow: hidden;
}
.index-main {
  display: -webkit-box;
  color: #9b69d0;
}
.index-main .col {
  width: 33.33%;
  text-align: center;
  font-size: 30px;
}
.index-main .col a {
  text-decoration: none;
  color: #9b69d0;
}
.index-main .col .round {
  background-color: #9b69d0;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-radius: 100%;
}
.index-main .col .info {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.index-main .col .info .cover {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #9b69d0;
}
.index-main .col .info .cover img {
  margin-top: 2px;
  width: 246px;
  height: 246px;
  border-radius: 100%;
}
.index-main .lower {
  margin-top: 250px;
}
.header-menu {
  display: -webkit-box;
  line-height: 75px;
  font-size: 20px;
  color: cornflowerblue;
}
.header-menu .home-btn {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: cornflowerblue;
  margin-right: 10px;
}
.header-menu a {
  text-decoration: none;
  color: cornflowerblue;
}
.section {
  display: -webkit-box;
  display: flex;
}
.section .thumb {
  width: 140px;
  height: 140px;
  border-radius: 100%;
}
.section .thumb img {
  width: 140px;
  height: auto;
  border-radius: 100%;
}
#overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.8);
  z-index: 1000;
  position: absolute;
  top: 0;
  text-align: center;
}
#overlay:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#overlay .wrapper {
  width: 1024px;
  height: 432px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  margin: 0 auto;
}
#overlay .wrapper .inner {
  height: 100%;
  display: -webkit-box;
}
#overlay .wrapper .inner .content {
  text-align: left;
  width: 770px;
}
#overlay .wrapper .inner .desc {
  width: 254px;
  text-align: left;
  display: -webkit-box;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
}
#overlay .wrapper .inner .desc .text {
  margin-left: 15px;
  margin-top: 15px;
}
#overlay .wrapper .inner .desc .thumbs {
  margin-bottom: 15px;
  margin-left: 15px;
  display: -webkit-box;
}
#overlay .wrapper .inner .desc .thumbs .thumb {
  width: 70px;
  height: 70px;
  margin-right: 5px;
  border-radius: 100%;
  background-color: cornflowerblue;
}
.s1 {
  height: 500px;
  width: 100%;
  border-bottom: 1px solid cornflowerblue;
}
.s2 {
  height: 1500px;
  width: 100%;
}
