* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", serif;
}

html, body {
  width: 100%;
  height: 100%;
}

@main: #9b69d0;
@blue: cornflowerblue;
.main {
  width: 1024px;
  height: 768px;
  margin-left: auto;
  margin-right: auto;
}

.noscroll {
  overflow: hidden;
}

.index-main {
  display: -webkit-box;
  color: @main;
  .col {
    width: 33.33%;
    text-align: center;
    font-size: 30px;
    a {
      text-decoration: none;
      color: @main;
    }
    .round {
      background-color: @main;
      width: 200px;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      border-radius: 100%;
    }
    .info {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;
      .cover {
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: 250px;
        border-radius: 100%;
        overflow: hidden;
        background-color: @main;
        img {
          margin-top: 2px;
          width: 246px;
          height: 246px;
          border-radius: 100%;
        }
      }
    }
  }
  .lower {
    margin-top: 250px;
  }
}

.header-menu {
  display: -webkit-box;
  line-height: 75px;
  font-size: 20px;
  color: @blue;
  .home-btn {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: @blue;
    margin-right: 10px;
  }
  a {
    text-decoration: none;
    color: @blue;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 200px;
  display: -webkit-box;
  display: flex;

  border-bottom: 1px solid @blue;
  .thumb {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    margin-right: 20px;
    img {
      width: 140px;
      height: auto;
      border-radius: 100%;
    }
  }
}

#overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.8);
  z-index: 1000;
  position: fixed;
  top: 0;
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .wrapper {
    width: 1024px;
    height: 432px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    margin: 0 auto;
    .inner {
      height: 100%;
      display: -webkit-box;
      .content {
        text-align: left;
        width: 770px;
        display: -webkit-box;
        -webkit-box-pack: center;
        img{
          max-width: 770px;
          max-height: 432px;
        }
      }
      .desc {
        width: 254px;
        text-align: left;
        display: -webkit-box;
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-pack: justify;
        .text {
          margin-left: 15px;
          margin-top: 15px;
        }
        .thumbs {
          margin-bottom: 15px;
          margin-left: 15px;
          display: -webkit-box;
          //todo: build 2nd layer when more than 3 icons
          .thumb {
            width: 70px;
            height: 70px;
            margin-right: 5px;
            border-radius: 100%;
            background-color: @blue;
          }
        }
      }

    }
  }
}

.s1 {
//  height: 500px;
  width: 100%;

}

.s2 {
//  height: 1500px;
  width: 100%;
  //  background-color: #994d31;
}
