* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
.main {
  width: 900px;
  height: 768px;
  margin-left: auto;
  margin-right: auto;
}
.noscroll {
  overflow: hidden;
}
.index-main {
  display: -webkit-box;
  color: #9b69d0;
}
.index-main .col {
  width: 33.33%;
  text-align: center;
  font-size: 30px;
}
.index-main .col a {
  text-decoration: none;
  color: #9b69d0;
}
.index-main .col .round {
  background-color: #9b69d0;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-radius: 100%;
}
.index-main .col .info {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.index-main .col .info .cover {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #9b69d0;
}
.index-main .col .info .cover img {
  margin-top: 2px;
  width: 246px;
  height: 246px;
  border-radius: 100%;
}
.index-main .lower {
  margin-top: 250px;
}
.header-menu {
  width: 100%;
  display: -webkit-box;
  line-height: 102px;
  font-size: 20px;
  color: cornflowerblue;
  background-color: white;
  text-transform: uppercase;
}
.header-menu.projects {
  color: #c8b410;
}
.header-menu.projects .home-btn {
  background-color: #c8b410;
}
.header-menu.projects a {
  color: #c8b410;
}
.header-menu .home-btn {
  width: 75px;
  height: 75px;
  display: block;
  border-radius: 100%;
  background-color: cornflowerblue;
  margin-top: 15px;
  margin-right: 40px;
}
.header-menu a {
  text-decoration: none;
  color: cornflowerblue;
  margin-right: 40px;
}
.section {
  padding-top: 50px;
  border-bottom: 1px solid cornflowerblue;
}
.section .header {
  font-size: 40px;
  margin-bottom: 20px;
}
.section .thumbs {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.section .thumbs .thumb {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  margin: 0 85px 85px 0;
}
.section .thumbs .thumb img {
  width: 140px;
  height: auto;
  border-radius: 100%;
}
.section.ds1 {
  color: cornflowerblue;
}
.section.ds2 {
  color: cornflowerblue;
}
.section.ds3 {
  color: cornflowerblue;
}
.section.ds4 {
  color: cornflowerblue;
}
.section .block {
  font-size: 20px;
}
.section .block .header {
  font-size: 50px;
  color: #c8b410;
}
.section .block .info {
  display: -webkit-box;
}
.section .block .info .cover {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.section .block .info .cover img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
}
.section .block .info .links {
  margin-top: 30px;
}
.main.projects .section {
  border-bottom: 1px solid #c8b410;
}
#overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.8);
  z-index: 1000;
  position: fixed;
  top: 0;
  text-align: center;
}
#overlay:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#overlay .wrapper {
  width: 1024px;
  height: 432px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  margin: 0 auto;
}
#overlay .wrapper .inner {
  height: 100%;
  display: -webkit-box;
}
#overlay .wrapper .inner .content {
  text-align: left;
  width: 770px;
  display: -webkit-box;
  -webkit-box-pack: center;
}
#overlay .wrapper .inner .content img {
  max-width: 770px;
  max-height: 432px;
}
#overlay .wrapper .inner .desc {
  width: 254px;
  text-align: left;
  display: -webkit-box;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
}
#overlay .wrapper .inner .desc .text {
  margin: 15px;
}
#overlay .wrapper .inner .desc .thumbs {
  margin-bottom: 15px;
  margin-left: 15px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
#overlay .wrapper .inner .desc .thumbs .thumb {
  width: 70px;
  height: 70px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 100%;
  background-color: cornflowerblue;
}
.s1 {
  width: 100%;
}
.s2 {
  width: 100%;
}
